*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif !important;
    overflow-y: auto;
    /* overflow: auto; */
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mynav{
    margin-left: 12px !important;
    margin-right: 12px !important;
    font-size: 20px;
}

.ml-auto .rang{
    color: #007aff !important;
}

.ml-auto a{
    color: white !important;
}

.ml-auto a:hover{
    color: #007aff !important;
    background: white;
}

.bt{
    margin-left: 20px;
    width: 150px;
    margin-top: -5px !important;
    font-size: 35px;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    border-color: white;
    transition: all 2s;
    cursor: pointer;
    color: white;
}

.mytext{
    color: white;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bt span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 2s;
    color: white;
}
  
.bt span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 2s;
    color: white;
}
  
.bt:hover span {
    padding-right: 25px;
}
  
.bt:hover span:after {
    opacity: 1;
    right: 0;
    color: white;
}

.bt:hover{
    background-color: black;
    color: white;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    font-size: 1.5em;
    background: black;
}

.myfont{
    font-family: 'Baron Neue', sans-serif;
    text-transform: uppercase;
}

.logo{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Baron Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 10px;
}

.logo span{
    font-weight: 300;
}

.bigTitle{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

.map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.iconmargin{
    margin-left: 20px;
    margin-right: 20px;
}

.mycard{
    background: black !important;
    color: white !important;
}

.btn-mdb-color{
    color: black !important;
    background: white !important;
}

.map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

section{
    width: 100%;
    background: transparent;
    position: relative;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

#carousel-example-2{
    width: 100%;
    height: 100%;
}

.fa{
    color: white;
}

.fa-linkedin:hover{
    color: #1262bf;
}

.fa-instagram:hover{
    color: #bc2a8d;
}

.fa-twitter:hover{
    color: #1da1f2;
}

.fa-github:hover{
    background: black;
    color: white;
}

@media(max-width: 600px){
    .bigTitle{
        font-size: 3rem
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: black;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,1); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,1); 
}